/assetmover
/coremods
/crash-reports
/dumps
/logs
/mods/1.12.2
/saves
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
/vintagefix
crafttweaker.log
dropt.log
icon.png
knownkeys.txt
options.txt
optionsof.txt
optionsshaders.txt
usercache.json
usernamecache.json